<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
	<h3>Reactive demo. Wait 10 seconds to see results.</h3>
	<table>
	  <tr>
		<td>Your greeting is</td>
		<td><%=@greeting %> </td>
	  </tr>
	</table>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>